* {
    box-sizing: border-box;
}
body {
    width: 80%;
    padding-left: 3%;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid rgb(115, 115, 252);
    border-right: 1px solid rgb(115, 115, 252);
    
}
xmp, code {
    background-color: rgb(221, 221, 221);
    width: 90%;
}
xmp.inline {
    width: 25px;
}
table {
    border-collapse: collapse;
}

table,th, td{
    border: 1px solid black;
}